rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
  	match /sensor-readings/{value} {
      allow read: if resource.data.userId == request.auth.uid;
    }
    
  	match /sensors/{value} {
      allow read, update: if resource.data.userId == request.auth.uid;
    }
        
    match /notes/{note} {
      allow read, write, update, create, delete: if resource.data.userId == request.auth.uid;
    }
  }
}